.justify {
  text-align: justify !important
}

.centered {
  text-align-last: center;
}

.xlarge {
  font-size: 300%;
}

.xsmall {
  font-size: 50%;
}


/* Center Mermaid diagrams */
.mermaid {
  display: flex;
  justify-content: center;
}


